<div class='container question'>
  <form action='/answer'>
    <label for="question">Ask your coach anything:</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" name='question' placeholder="Type your question">
      <div class="input-group-append">
        <button class="btn btn-info" type="submit">Ask</button>
      </div>
    </div>
  </form>
</div>  