// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {

  margin: auto;
  text-align: center;
}

.question {
  padding: 0px 25%;
}

label{
  float: left;
}

.your_question {
  background-color: white;
  width: 400px;
  margin: 20px auto;
  padding: 10px 20px;
  text-align: left;
  font-size: 18px;
  border-left: 10px solid #DDDDDD;
}

p { 
  margin-bottom: 1px;
}

.your_question > footer {
  text-align: left;
}

.coach {
  width: 400px;
  padding: 10px 20px;
  background-color:#FFFFE1;
  margin: auto;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: left;
  border-left: 10px solid #DDDDDD;
}

a { 
  text-decoration: none;
  text-align: center;
}